.Banner-home {
    background-color: #FEBCAE;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.Banner-home img {
    border-radius: 10%;
    width: 400px;
    height: 400px;
    padding-left: 65px;
    padding-top: 205px;
}

.Banner-home h1 {
    color: white;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-right: 65px;
    padding-top: 170px;
    line-height: 1.5;

}

.ombre {
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 6px 2px 3px rgba(206,89,55,0);

}

.color-change {
    color: #3CC3B5;
}

/* #section-fleche {
    position: absolute;
    height: 160px;
    width: 160px;
    top: 401px;
    left: 1153px;
} */

/* .Banner-home button {
    color: white;
    background-color: #ffc43c00;
    padding: 18px;
    border-radius: 10px;
    border-color: #fd9881;
    font-size: 20px;
} */

/* button:hover {
    color: #3CC3B5;
} */


/* CSS */
.Banner-home button {
  background-color: #fd9881;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  height: 45px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 28px;
}

.Banner-home button:hover,
.Banner-home button:focus {
  background-color: #ee8773;
}

/* RESPONSIVE DESIGN  */
/* @media screen and (max-width: 600px) */


/* @media screen and (max-width: 600px) and (max-width:1024px) {


} */


@media screen and (max-width : 1348px) {
    .Banner-home h1 {
        font-size: 3rem;
  }
  }

  @media screen and (max-width : 853px) {
.Banner-home img {
    display: none;
}

.Banner-home h1 {
    padding-right: 0px;
}

  }